.parent {
  display: grid;
  height: 100vh;
  grid-template: auto 1fr auto / auto 1fr auto;
}

h3 {
  text-align: center;
  background-color: #579CD6;
  width: 300px;
  border: 5px solid blue;
  border-radius:20px;
  padding: 10px;
  margin: auto;
}

h2 {
  color: white; 
  font-family: 'Droid serif', serif; 
  font-size: 35px; 
  font-weight: 400; 
  font-style: italic; 
  line-height: 44px; 
  margin: 0 0 12px; 
  text-align: center;
  -webkit-text-stroke: 2px black;
}

p {
  text-align: center;
  background-color: #56C7D8;
  width: 300px;
  border: 5px solid blue;
  border-radius:20px;
  padding: 15px;
  margin: auto;
}

.members {
  width: 200px;
}

.image {
  border: 5px solid #5CB761;
  border-style: inset;
  border-radius: 5%;
}

button {
background:    #4e4eea;
background:    linear-gradient(#4e4eea, #9900ff);
border-radius: 11px;
padding:       10px 20px;
color:         #ffffff;
display:       inline-block;
font:          normal bold 15px/1 "Droid Serif", serif;
text-align:    center;
}

label {
  font: normal bold 15px/1 "Droid Serif", serif;
  color: #ffffff;
}

.header {
  background: white;
  padding: 2rem;
  grid-column: 1 / 4;
  text-align: center;
}

.headerbtn {
  background:  #57D6D4;
  margin-right: 10px;
  margin-left: 10px;
}

.headerImg {
  text-align: right;
}

.left-side {
  background: #3ECBF5;
  grid-column: 1 / 2;
  text-align: center;
  overflow-y: scroll;
}

.storyTitle {
  color: white; 
  font-family: 'Droid serif', serif; 
  font-size: 50px; 
  font-weight: 400; 
  font-style: italic; 
  line-height: 44px; 
  margin: 0 0 12px; 
  text-align: center;
  -webkit-text-stroke: 2px black;
}

.main {
  background: coral;
  grid-column: 2 / 3;
  text-align: center;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  display: none;
}

.right-side {
  background: #3ECBF5;
  grid-column: 3 / 4;
  text-align: center;
  overflow-y: scroll;
}

.footer {
  background: #2E54CD;
  padding: 2rem;
  text-align: center;
  grid-column: 1 / 4;
}