.parent {
  display: grid;
  height: 100vh;
  grid-template: auto 1fr auto / auto 1fr auto;
}

h3 {
  text-align: center;
  background-color: #579CD6;
  width: 300px;
  border: 5px solid blue;
  border-radius:20px;
  padding: 10px;
  margin: auto;
}

h2 {
  padding: 10px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

p {
  text-align: center;
  background-color: #56C7D8;
  width: 300px;
  border: 5px solid blue;
  border-radius:20px;
  padding: 15px;
  margin: auto;
}

.members {
  width: 200px;
}

.image {
  border: 5px solid #5CB761;
  border-style: inset;
  border-radius: 5%;
}

button {
  border: none;
  background: #404040;
  color: #ffffff !important;
  font-weight: 50;
  padding: 20px;
  text-transform: uppercase;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
}

button:hover {
  color: #404040 !important;
font-weight: 500 !important;
letter-spacing: 3px;
background: none;
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.3s ease 0s;
}

label {
  font: normal bold 15px/1 "Droid Serif", serif;
  color: #ffffff;
}

.header {
  background: white;
  padding: 10px;
  grid-column: 1 / 4;
  text-align: center;
}

.headerbtn {
  background:  #57D6D4;
  margin-right: 10px;
  margin-left: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.headerImg {
  text-align: right;
}

.left-side {
  background: #3ECBF5;
  grid-column: 1 / 2;
  text-align: center;
  overflow-y: scroll;
}

.storyTitle {
  padding: 10px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

.main {
  background: coral;
  grid-column: 2 / 3;
  text-align: center;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  display: none;
}

.right-side {
  background: #3ECBF5;
  grid-column: 3 / 4;
  text-align: center;
  overflow-y: scroll;
}

.footer {
  background: #2E54CD;
  padding: 10px;
  text-align: center;
  grid-column: 1 / 4;
}